<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,82},{29,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,48}}</string>
                <key>sourceSize</key>
                <string>{29,48}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{393,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,78}}</string>
                <key>sourceSize</key>
                <string>{393,78}</string>
            </dict>
            <key>box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{393,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,78}}</string>
                <key>sourceSize</key>
                <string>{393,78}</string>
            </dict>
            <key>dengJi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,182},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>dengJi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,182},{157,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,45}}</string>
                <key>sourceSize</key>
                <string>{157,45}</string>
            </dict>
            <key>dengJi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,182},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>dengJi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,184},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>dengJi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,184},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>dengJi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,82},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,82},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{77,82}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,82},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,80}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,82},{95,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,80}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>icon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,93},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,87}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,100}}</string>
                <key>sourceSize</key>
                <string>{361,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DengJiNode.png</string>
            <key>size</key>
            <string>{977,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66076eca064b12f6f51809b4a74b999f$</string>
            <key>textureFileName</key>
            <string>DengJiNode.png</string>
        </dict>
    </dict>
</plist>
