<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alarmclock.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,465},{141,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,148}}</string>
                <key>sourceSize</key>
                <string>{141,148}</string>
            </dict>
            <key>COG.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,995},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>Continuethegame.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,198},{155,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,38}}</string>
                <key>sourceSize</key>
                <string>{155,38}</string>
            </dict>
            <key>D.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,608},{143,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,33}}</string>
                <key>sourceSize</key>
                <string>{143,33}</string>
            </dict>
            <key>Flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{333,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{333,333}}</string>
                <key>sourceSize</key>
                <string>{337,337}</string>
            </dict>
            <key>Freecollection.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,643},{341,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,118}}</string>
                <key>sourceSize</key>
                <string>{341,118}</string>
            </dict>
            <key>Get props.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{361,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,100}}</string>
                <key>sourceSize</key>
                <string>{361,100}</string>
            </dict>
            <key>Getmore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{341,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,118}}</string>
                <key>sourceSize</key>
                <string>{341,118}</string>
            </dict>
            <key>Goldcoinpurchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{341,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,118}}</string>
                <key>sourceSize</key>
                <string>{341,118}</string>
            </dict>
            <key>Goldinadequate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{402,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,96}}</string>
                <key>sourceSize</key>
                <string>{402,96}</string>
            </dict>
            <key>PDC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,96}}</string>
                <key>sourceSize</key>
                <string>{402,96}</string>
            </dict>
            <key>PHBbasemap.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,365},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>Prolonged.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,643},{330,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,34}}</string>
                <key>sourceSize</key>
                <string>{330,34}</string>
            </dict>
            <key>Return.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{83,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,89}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>Strength.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1067},{70,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,995},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,80}</string>
            </dict>
            <key>di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,355},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,412},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>shareBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{341,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,118}}</string>
                <key>sourceSize</key>
                <string>{341,118}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{361,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,100}}</string>
                <key>sourceSize</key>
                <string>{361,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DuiHuanNode.png</string>
            <key>size</key>
            <string>{508,1132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:916a3d90900c007c32e64e7802129d29$</string>
            <key>textureFileName</key>
            <string>DuiHuanNode.png</string>
        </dict>
    </dict>
</plist>
