<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bottn.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,283},{397,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,99}}</string>
                <key>sourceSize</key>
                <string>{397,99}</string>
            </dict>
            <key>Fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>Kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{576,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,279}}</string>
                <key>sourceSize</key>
                <string>{576,279}</string>
            </dict>
            <key>cishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,384},{257,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,30}}</string>
                <key>sourceSize</key>
                <string>{257,30}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,384},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LuckyNode.png</string>
            <key>size</key>
            <string>{580,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b47dd975278170041f2d6785dceb912f$</string>
            <key>textureFileName</key>
            <string>LuckyNode.png</string>
        </dict>
    </dict>
</plist>
