<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,494},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,80}</string>
            </dict>
            <key>Music bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,543},{111,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,47}}</string>
                <key>sourceSize</key>
                <string>{111,47}</string>
            </dict>
            <key>Music.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{132,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,50}}</string>
                <key>sourceSize</key>
                <string>{132,50}</string>
            </dict>
            <key>Shock bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,494},{111,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,47}}</string>
                <key>sourceSize</key>
                <string>{111,47}</string>
            </dict>
            <key>Shock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{135,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,56}}</string>
                <key>sourceSize</key>
                <string>{135,56}</string>
            </dict>
            <key>Sound bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,552},{111,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,47}}</string>
                <key>sourceSize</key>
                <string>{111,47}</string>
            </dict>
            <key>Sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,494},{131,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,56}</string>
            </dict>
            <key>basemap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{473,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,490}}</string>
                <key>sourceSize</key>
                <string>{473,490}</string>
            </dict>
            <key>setDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,576},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SetNode.png</string>
            <key>size</key>
            <string>{477,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd21d045893622dd4c1ba2756f081359$</string>
            <key>textureFileName</key>
            <string>SetNode.png</string>
        </dict>
    </dict>
</plist>
